.idea/
*.swp
*/__pycache__
phase1/dates.txt
phase1/terms.txt
phase1/tweets.txt
phase2/da.idx
phase2/filtereddates
phase2/filteredterms
phase2/filteredtweets
phase2/finaldates
phase2/finalterms
phase2/finaltweets
phase2/te.idx
phase2/tw.idx
